body
{	
	margin: 0;
	padding: 0;
}
@media (max-width: 600px)
{
.cont
{
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.nav
{
	flex: 1;
	order: 2;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}
}
.nav
{
	flex: 1;
	order: 2;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

